absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1748348059416/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///croot/anyio_1745334642479/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
asttokens @ file:///croot/asttokens_1743630435401/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
attrs @ file:///croot/attrs_1734533101012/work
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bleach @ file:///croot/bleach_1732290411627/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1749972191589/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chex==0.1.89
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
comm @ file:///croot/comm_1709322850197/work
contourpy @ file:///croot/contourpy_1732540045555/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
et-xmlfile @ file:///work/perseverance-python-buildout/croot/et_xmlfile_1698868193149/work
etils==1.12.2
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1750986285/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
filelock @ file:///croot/filelock_1744281381737/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1739279199749/work
flax==0.10.6
fonttools @ file:///croot/fonttools_1737039080035/work
fsspec @ file:///croot/fsspec_1750681162352/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1733299680490/work
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1734276819611/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
grpcio @ file:///croot/grpc-split_1716834572340/work
h11 @ file:///croot/h11_1748442006460/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1739952267264/work
hf-xet @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_hf-xet_1750541218/work
httpcore @ file:///croot/httpcore_1748526048470/work
httptools @ file:///home/conda/feedstock_root/build_artifacts/httptools_1732707646454/work
httpx @ file:///croot/httpx_1746747840559/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1750865802145/work
humanize==4.12.3
idna @ file:///croot/idna_1714398848350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///croot/ipython_1744912971218/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
jax==0.5.3
jaxlib==0.5.3
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib @ file:///croot/joblib_1718217211762/work
json5 @ file:///croot/json5_1730786798687/work
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter @ file:///croot/jupyter_1737645803214/work
jupyter-console @ file:///work/perseverance-python-buildout/croot/jupyter_console_1707343324117/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1741200034823/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///croot/jupyterlab_1737555423487/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1733440870459/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1747722781675/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
libclang==18.1.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1750360292101/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.0
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune @ file:///croot/mistune_1741124011532/work
mkl-service==2.4.0
mkl_fft==1.3.10
mkl_random @ file:///home/conda/feedstock_root/build_artifacts/mkl_random_1728760192024/work
ml_dtypes==0.5.1
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
msgpack==1.1.1
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1748346368839/work
narwhals @ file:///croot/narwhals_1742845957875/work
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///croot/networkx_1737039604450/work
notebook @ file:///croot/notebook_1749732987674/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1732612815364/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=b8e59fcb10ab071cbeded47aed247ddfa1c902d595848c27f82021340e226134
openpyxl @ file:///croot/openpyxl_1736366913861/work
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optax==0.2.5
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1748442448756/work
orbax-checkpoint==0.11.17
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging==23.2
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp312-cp312-linux_x86_64.whl#sha256=57b66702d418720ec8483f7c4ec7c08d41815316ad7ce09d5b7bbc34eefcfdfd
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///croot/pexpect_1750072593878/work
pillow @ file:///croot/pillow_1744613067434/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
plotly @ file:///croot/plotly_1744960868503/work
pluggy @ file:///croot/pluggy_1733169602837/work
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==5.29.5
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1749927112905/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-core_1746625309/work
Pygments @ file:///croot/pygments_1744664109463/work
pyparsing @ file:///croot/pyparsing_1731445506121/work
PyQt6==6.7.1
PyQt6_sip @ file:///croot/pyqt-split_1744804475988/work/pyqt_sip
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
pytest @ file:///croot/pytest_1750675189633/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1750789290/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
qtconsole @ file:///croot/qtconsole_1744633877544/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
requests @ file:///croot/requests_1750426329888/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
scikit-learn @ file:///croot/scikit-learn_1737988764076/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790643552/work/dist/scipy-1.15.2-cp312-cp312-linux_x86_64.whl#sha256=9c4c390e67a1320f6f3b418568855f0a6759c34ce8e5b9eb6cc90d02fd7ba711
seaborn @ file:///croot/seaborn_1749110291192/work
Send2Trash @ file:///croot/send2trash_1736540790175/work
setuptools==72.1.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
simplejson==3.20.1
sip @ file:///croot/sip_1738856193618/work
six @ file:///croot/six_1744271502820/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1744661396/work
sympy @ file:///croot/sympy_1738108488918/work
tensorboard==2.19.0
tensorboard_data_server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1728639726553/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=40d8fffc5c59ade011656e89f9bc9c90185efcd63ddc58bd4487293c02efb1ed
tensorflow==2.19.0
tensorflow-hub==0.16.1
tensorflow_decision_forests==1.12.0
tensorflow_estimator @ file:///opt/conda/conda-bld/tensorflow-split_1729547219394/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=bd4ca878e838e94f6b31f66fdd7536ab8d8ac04661a1bc791686670280e868de
tensorflowjs==4.22.0
tensorstore==0.1.75
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1746039537955/work
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
tf_keras==2.19.0
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tinycss2 @ file:///croot/tinycss2_1738337643607/work
toolz==1.0.0
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1728257905873/work
torchaudio==2.4.1
torchvision==0.19.1
tornado @ file:///croot/tornado_1748956929273/work
tqdm @ file:///croot/tqdm_1738943501192/work
traitlets @ file:///croot/traitlets_1718227057033/work
treescope==0.1.9
typer==0.16.0
typer-slim==0.16.0
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1747870647094/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
urllib3 @ file:///croot/urllib3_1750775463400/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1748779641601/work
uvloop @ file:///home/conda/feedstock_root/build_artifacts/uvloop_1730214319645/work
watchfiles @ file:///home/conda/feedstock_root/build_artifacts/watchfiles_1750053830637/work
wcwidth @ file:///croot/wcwidth_1750352883074/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1741285453827/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wheel==0.45.1
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1736869451908/work
wurlitzer==3.1.1
ydf==0.12.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
